{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'maguraunion/main.css' %}">

    {% if title %}
        <title>ইউনিয়ন ট্যাক্স পোর্টাল - {{ title }}</title>
    {% else %}
        <title>ইউনিয়ন ট্যাক্স পোর্টাল</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'homepage' %}">ইউনিয়ন ট্যাক্স পোর্টাল</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">

            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{{admin_url}}">এডমিন পোর্টাল</a>
                <a class="nav-item nav-link" href="#"> {{ user.username }}</a>
              {% else %}
                <a class="nav-item nav-link" href="{{admin_url}}">এডমিন লগইন </a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-12">
          <div class="content-section">
            <h3 class="text-center">ইউনিয়ন ট্যাক্স পোর্টালে আপনাকে স্বাগত</h3>
              <br/>
              <br/>
            <p class='text-muted text-center'> আপনার হোল্ডিং নাম্বার , ফোন নাম্বার অথবা জাতীয় পরিচয় পত্র নাম্বার দিয়ে আপনার আয়কর তথ্য দেখুন
              <ul class="list-group">
                <li class="list-group-item list-group-item-light text-center"></li>
                <li class="list-group-item list-group-item-light text-center"></li>
                <li class="list-group-item list-group-item-light text-center">
                    <form method="POST">
                        {% csrf_token %}
                      <div class="form-group">
                        <label for="searchField">খুঁজুন</label>
                        <input type="text" class="form-control" id="searchField" name="searchField" placeholder="হোল্ডিং নাম্বার , ফোন নাম্বার অথবা জাতীয় পরিচয় পত্র নাম্বার">
                      </div>
                      <button type="submit" class="btn btn-primary">যান</button>
                    </form>
                </li>
                <li class="list-group-item list-group-item-light text-center"></li>
                <li class="list-group-item list-group-item-light text-center"></li>
                {% if searching %}
                {% if result_found %}
                    <li class="list-group-item list-group-item-light">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="img-thumbnail mx-auto d-block mt-3" src="" alt="person"
                                        onerror="this.onerror=null;this.src='https://cdn4.iconfinder.com/data/icons/instagram-ui-twotone/48/Paul-18-512.png';">
                                        <h5 class="bg-info text-light py-1 mt-1 pl-4">{{barir_malik}}</h5>
                                    </div>
                                    <div class="col-md-7 mt-3">
                                        <div class="row">
                                            <div class="col-4">পিতা/স্বামী: </div>
                                            <div class="col-7">
                                                <h6>{{pita_sami_nam}}</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">হোল্ডিং নাম্বার:</div>
                                            <div class="col-7">
                                                <h6>{{holding_number}}</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">বার্ষিক মূল্যায়ন:</div>
                                            <div class="col-7">
                                                <h6>{{barshik_mullayon}}</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">বার্ষিক করের পরিমান:</div>
                                            <div class="col-7">
                                                <h6>{{barshik_kor}}</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">বকেয়া:</div>
                                            <div class="col-7">
                                                <h6> {{bokeya}} </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li class="list-group-item list-group-item-light text-center"> কোন রেজাল্ট পাওয়া যায়নি </li>
                {% endif %}
                {% endif %}
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
